
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      return isSignedIn() && 
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/{userId} {
      allow create: if isOwner(userId);
      allow get: if isOwner(userId) || isAdmin();
      allow list: if isAdmin();
      allow update: if isOwner(userId) || isAdmin();
      allow delete: if isAdmin();

      match /courseProgress/{courseId} {
        allow read, write: if isOwner(userId) || isAdmin();
      }
      
      match /challenge_submissions/{submissionId} {
        allow read, write: if isOwner(userId) || isAdmin();
      }

      match /achievements/{achievementId} {
        allow read, write: if isOwner(userId) || isAdmin();
      }
    }

    match /promotions/{promoId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /coding_challenges/{challengeId} { 
      allow read: if true; 
      allow write: if isAdmin() || (isSignedIn() && request.resource.data.instructorId == request.auth.uid);
    }
    
    match /courses/{courseId} {
      allow read: if true;
      allow create: if isSignedIn();
      allow update, delete: if isAdmin() || request.auth.uid == resource.data.instructorId;

      match /modules/{moduleId} {
        allow read: if true;
        allow write: if isAdmin() || get(/databases/$(database)/documents/courses/$(courseId)).data.instructorId == request.auth.uid;

        match /lessons/{lessonId} {
            allow read: if true;
            allow write: if isAdmin() || get(/databases/$(database)/documents/courses/$(courseId)).data.instructorId == request.auth.uid;

            match /resources/{resourceId} {
                allow read: if true;
                allow write: if isAdmin() || get(/databases/$(database)/documents/courses/$(courseId)).data.instructorId == request.auth.uid;
            }
        }
      }
    }
  }
}
